.footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #370a37;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.footer__developers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.footer__developers-link {
  transition: color 0.3s ease-in-out;
}

.footer__developers-link:hover {
  color: #da07f6;
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 30px;
  }
}

@media (max-width: 480px) {
 
  .footer__inner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 12px;
  }

  .footer__developers {
    align-items: center;
  }
}
